@import "calendar";



.form-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 90px;
    .form {
        margin: 0 auto;
        display: inline-block;

        .form-heading {
            font-size: var(--font-size-l);
        }

        .form-container {
            background-color: var(--form-bg-color);
            padding: 20px;
            gap: 10px;

            span {
                font-size: var(--font-size-m);
            }

            .form-button {
                background-color: var(--button-bg-color);
                color: white;
                padding: 13px 32px;
                align-self: end;
                span {
                    margin: 0 auto;
                }
            }
        }
    }
}



@media screen and (max-width: 768px) {
    .form-wrapper {

        .form {

            .form-container {
                flex-direction: column;
                gap: 10px;

                div:nth-child(1) {
                    margin-right: 0;
                }

                .form-button {
                    align-self: center;
                    width: 100%;
                    span {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

.input-error {
    outline: 1px solid red !important;
    border-radius: 2px;
}

.cards-wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    justify-items: center;
    padding: 40px;

    .card {
        background-color: white;
        max-width: 345px;
        padding: 32px 24px;
        width: 100%;
        transition: all 0.3s ease-in-out;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        &:hover {
            transform: scale(1.05);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }

        .card-subheading {
            font-size: var(--font-size-m);
            font-weight: var(--subheading-font-weight);
            margin-bottom: 10px;
        }

        .card-text {
            font-size: var(--font-size-m);
            margin-bottom: 5px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .cards-wrapper {
        grid-template-columns: repeat(2, 1fr);
        .card {

        }
    }
}

@media (max-width: 768px) {
    .cards-wrapper {
        grid-template-columns: repeat(1, 1fr);
        .card {

        }
    }
}


.loader-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 80vh;
    .loader {
        width: 48px;
        height: 48px;
        border: 3px solid #FFF;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }
    .loader::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 56px;
        height: 56px;
        border-radius: 50%;
        border: 3px solid;
        border-color: #FF3D00 transparent;
    }
}

.loader-wrapper__hidden {
    display: none;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.nothing-found {
    display: flex;
    justify-content: center;
    p {
        font-size: 22px;
        font-weight: 700;
    }
}

.nothing-found__hidden {
    display: none;
}