:root {
    --font-size-m: 18px;
    --font-size-l: 24px;

    --form-bg-color: #EDEFF0;

    --main-bg-color: #F9F9F9;

    --subheading-font-weight: 700;

    --font-color: #4A4A68;
    --button-bg-color: #0D326C;
}

p {
    color: var(--font-color);
}